.BasicGrid {color:black}

.dashboard {
        display: grid !important;
        grid-template-columns: repeat(6, 1fr) !important;
        /* grid-template-rows: repeat(7, 1fr) !important; */
        grid-column-gap: 2vw !important;
        grid-row-gap: 3vh !important;
        width: 80%;
        margin: auto;
        margin-top: 4vh;
        padding-bottom: 6vh;
}
.div1 { grid-area: 1 / 1 / 2 / 2 !important; }
.div2 { grid-area: 1 / 2 / 2 / 3 !important; }
.div3 { grid-area: 1 / 3 / 2 / 4 !important; }
.div4 { grid-area: 1 / 4 / 2 / 5 !important; }
.div5 { grid-area: 1 / 5 / 2 / 6 !important; }
.div6 { grid-area: 1 / 6 / 2 / 7 !important; }
.div7 { grid-area: 2 / 1 / 3 / 4 !important; }
.div8 { grid-area: 2 / 4 / 3 / 7 !important; }
.div9 { grid-area: 3 / 1 / 5 / 3 !important; }
.div10 { grid-area: 3 / 3 / 5 / 5 !important; }
.div11 { grid-area: 3 / 5 / 5 / 7 !important; }
.div12 { grid-area: 5 / 1 / 7 / 7 !important; }
.div13 { grid-area: 7 / 1 / 8 / 4 !important; }
.div14 { grid-area: 7 / 4 / 8 / 7 !important; }