.Poll {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
    margin:3vh 0;
}

h4{
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.navigator{
    /* margin: 0 10vw; */
    font-size: 9px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #8884d877;
    height: 10px !important;
    width: 10px !important;
    cursor: pointer;
    display: inline-block;
    position:absolute;
    top:50%;
}